@import "tailwindcss";
@import "@minus-ui/core/plugin";

@theme {
  --color-bg: #fafafa;
  --color-text-primary: #111111;
  --color-text-secondary: #1a1a1a;
  --breakpoint-xs: 23.5rem; /* 376px */
  --animate-shimmer: shimmer 2s infinite;
}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
